@import "style";

body {
  background: #edf4f3;
}
.sidebar {
  background: #fff;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  .sidebar-items {
    padding-left: 25px;
    margin-left: 30px;
    .sidebar-links {
      display: flex;
      padding-top: 50px;
      svg {
        height: 16px;
        width: 16px;
        margin: auto;
      }
      a {
        padding-left: 10px;
        color: #858585;
        text-decoration: none;
        &:hover {
          color: rgb(68, 68, 68);
        }
      }
      .active {
        font-weight: bold;
        color: $secondary !important;
      }
    }
  }
}
