* {
  /* background-color:#EDF4F3; */
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}
body {
  background-color: #edf4f3 !important;
}
header {
  background-color: white !important;
  margin: 0px;
  height: 60px;
  box-shadow: 2px 2px 2px grey !important;
}
header img {
  height: 40px;
  width: 160px;
  margin-top: 10px;
  margin-left: 20px;
}
.container {
  margin: 100px auto;
}
.accordion-item {
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #edf4f3 !important;
  border-color: #edf4f3 !important;
}
.accordion-header {
  color: black !important;
}
.accordion-header .accordion-button {
  background-color: white !important;
  color: black !important;
  font-size: 23px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 10px;
  padding: 20px 40px;
}
.accordion-button img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-right: 10px;
}
.accordion-collapse {
  background: #ffffff !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 0px 0px 10px 10px !important;
}

.accordion-item .accordian-header .accordion-button {
  background-color: white;
  color: black !important;
  box-shadow: none;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.accordion-item:first-of-type .accordion-button.collapsed {
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
}
.accordion-item:first-of-type .accordion-button {
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
.bg-dark {
  background-color: #40514e !important;
  background: #40514e !important;
}

::-webkit-scrollbar {
  width: 5px;
  cursor: pointer !important;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  cursor: pointer !important;
}

::-webkit-scrollbar-thumb {
  background: #40514e;
  height: 5px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer !important;
  background: #555;
}
