<!doctype html>
<html lang="en">

<head>


	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/yoga.css') }}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
	<!-- <link rel="stylesheet" href="../static/css/yoga.css"> -->

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
		integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<title>Yoga</title>

</head>

<body>


	<div class="d-flex">
		<div class="navigation" id="sideNavigation">
			<div class="text-center card border-0 p-0 m-0" style="background: transparent;">
				<button type="button" class="btn btn-white mx-auto p-0 mt-1  text-center" data-bs-toggle="modal"
					data-bs-target="#exampleModal" style="width: auto;">
					<div class="avatar text-center">
						{{details.name[:1].upper()}}
					</div>
				</button>
				<a type="button" class="stretched-link btn btn-sm btn-white d-block mx-auto mb-5" style="height: 32px;"
					data-bs-toggle="modal" data-bs-target="#exampleModal">
					<span class="name" id="profileName">{{details.name.split()[0].capitalize()}}</span>
				</a>

			</div>
			<ul>
				<li>
					<a href="/dashboard">
						<span class="icon"><i class="fas fa-chart-pie"></i></span>
						<span class="title">Dashboard</span>
					</a>
				</li>
				<li>
					<a href="/excercise">
						<span class="icon"><i class="fas fa-running"></i></span>
						<span class="title">Excercise</span>
					</a>
				</li>
				<li>
					<a href="/dietchart">
						<span class="icon"><i class="fas fa-utensils"></i></span>
						<span class="title">Diet Chart</span>
					</a>
				</li>
				<li>
					<a href="/stats">
						<span class="icon"><i class="fas fa-chart-bar"></i></span>
						<span class="title">Statistics</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="main-container">
			<div class="container-fluid bg-white px-0">
				<div class="navbar_c">
					<div class="col-4 my-auto">
						<h4 class="ms-5 mb-0 dashboard">Dashboard</h4>
					</div>
					<div class="col-4"></div>
					<div class="col-4 text-end my-auto">
						<img src="{{url_for('static', filename='images/logo.png')}}" class="me-5" alt="Logo"
							height="38.83" width="150">
					</div>
				</div>
			</div>
			<div class="container mb-10">
				<div class="accordion" id="accordionPanelsStayOpenExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="panelsStayOpen-headingOne">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
								aria-controls="panelsStayOpen-collapseOne">
								<div class="col-0.5"><img
										src="{{url_for('static', filename='images/KapalBhati.jpg')}}" /></div>
								<div class="col-4">Kapal Bhati</div>
								<div class="col-6 small"><small>(Skull Shining breathing technique)</small></div>
							</button>
						</h2>
						<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
							aria-labelledby="panelsStayOpen-headingOne">
							<div class="accordion-body">
								<div class="row">
									<div class="col-2">
										<div class="card shadow"><img
												src="{{url_for('static', filename='images/KapalBhati.jpg')}}"
												width="188" height="160" /></div>
									</div>
									<div class="col-10">
										This yogic breathing exercise seeks to rid your body of harmful toxins. In fact,
										'Kapal' means
										'forehead' and
										'bhati' denotes 'shining'. So, according to yoga experts, kapalbhati is
										something that ensures a
										'shining
										forehead', a symbol of a bright and healthy mind.The known benefits of Kapal
										Bhati is that it
										detoxes the
										lungs, clears the nasal track, increases lung capacity and regulates/ smoothens
										the breath. It
										energizes the
										nervous system, rejuvenates the brain cells and stimulates abdominal organs.
										These are great
										benefits,
										isn’t it? The remaining could be supplementary but don’t focus on that. Kindly
										refrain from
										practicing
										numerous rounds with a hope of losing belly fat. Like everything else in life,
										Kapal Bhati is best
										when
										in moderation.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
								aria-controls="panelsStayOpen-collapseTwo">
								<div class="col-0.5"><img
										src="{{url_for('static', filename='images/Dhanurasana.jpg')}}" /></div>
								<div class="col-4">Dhanurasana</div>
								<div class="col-6 small"><small>(Bow Pose)</small></div>
							</button>
						</h2>
						<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
							aria-labelledby="panelsStayOpen-headingTwo">
							<div class="accordion-body">
								<div class="row">
									<div class="col-2">
										<div class="card shadow"><img
												src="{{url_for('static', filename='images/Dhanurasana.jpg')}}"
												width="188" height="160" /></div>
									</div>
									<div class="col-10">
										Dhanurasana – It improves the functioning of pancreas and intestines. Thus, it
										helps in regulating
										the blood sugar levels to
										a vast extent.This body posture of this is named after the shape it takes-that
										of a bow. Dhanurasana
										is also sometimes linked with upward
										wheel pose or Urdhva Chakrasana. The Bow or Dhanurasana raises both halves of
										the body at once,
										combining the movements of
										the Cobra and Locust, and countering the Plough and the Forward Bend, same as
										like an archer
										stringing a bow. In this you
										use your hands and arms to pull your trunk and legs up together to form a curve.
										It tones back
										muscles and maintains the
										elasticity of spine, improving posture and increasing vitality.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="panelsStayOpen-headingThree">
							<button class="accordion-button collapsed" type="button"
								style="background-color:white;color:black;" data-bs-toggle="collapse"
								data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
								aria-controls="panelsStayOpen-collapseThree">
								<div class="col-0.5"><img
										src="{{url_for('static', filename='images/Paschimottasana.jpeg')}}" /></div>
								<div class="col-4">Paschimottanasana</div>
								<div class="col-6 small"><small>(Skull Shining breathing technique)</small></div>

							</button>
						</h2>
						<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
							aria-labelledby="panelsStayOpen-headingThree">
							<div class="accordion-body">
								<div class="row">
									<div class="col-2">
										<div class="card shadow"><img
												src="{{url_for('static', filename='images/Paschimottasana.jpeg')}}"
												width="188" height="160" /></div>
									</div>
									<div class="col-10">
										Paschimottanasana (forward bend) is a simple and traditional Hatha Yoga Asana.
										That has many
										tremendous health
										benefits. The Forward bend covers up whole systems in your body along with very
										beneficial for
										growing kids to
										increase their height. Those People who are suffering from High B.P. or diabetes
										get awesome health
										benefits
										from Paschimottanasana. The Uniqueness of the Forward bend is that it stretches
										your whole body. The
										front body
										part of our body is known as the East, as well as the back part is termed as
										West. So,
										Paschimottanasana basically
										focuses on your back part of the body. Thus this Asana is named so and Seated
										forward bend is also
										know as Intense
										Forward Bend.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="panelsStayOpen-headingFour">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
								aria-controls="panelsStayOpen-collapseFour">
								<div class="col-0.5"><img
										src="{{url_for('static', filename='images/Shavasana.jfif')}}" /></div>
								<div class="col-4">Shavasana</div>
								<div class="col-6 small"><small>(Corpse Pose)</small></div>

							</button>
						</h2>
						<div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
							aria-labelledby="panelsStayOpen-headingFour">
							<div class="accordion-body">
								<div class="row">
									<div class="col-2">
										<div class="card shadow"><img
												src="{{url_for('static', filename='images/Shavasana.jfif')}}"
												width="188" height="160" /></div>
									</div>
									<div class="col-10">
										The Sanskrit word ‘shava‘ means ‘corpse‘. This pose looks like sleeping pose. It
										is very simple and
										everyone can
										do this asana. But friends this pose needs lots of concentration. You have to
										concentrate on each
										part of the body.
										Beneficial for improving concentration, curing insomnia, calming mind, releasing
										stress, fatigue and
										depression.
										Excellent asana for stimulating blood circulation.Beneficial for those suffering
										from neurological
										problem, asthma,
										constipation, diabetes, indigestion.While practicing shavasana, if you feel
										drowsy or sleepy you can
										breathe a bit faster and deeper.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="panelsStayOpen-headingFive">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
								aria-controls="panelsStayOpen-collapseFive">
								<div class="col-0.5"><img
										src="{{url_for('static', filename='images/Ardhmatsayendrasana.jpg')}}" />
								</div>
								<div class="col-4">Ardhmatsayendrasana</div>
								<div class="col-6 small"><small>(Sitting half spinal twist)</small></div>
							</button>
						</h2>
						<div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
							aria-labelledby="panelsStayOpen-headingFive">
							<div class="accordion-body">
								<div class="row">
									<div class="col-2">
										<div class="card shadow"><img
												src="{{url_for('static', filename='images/Ardhmatsayendrasana.jpg')}}"
												width="188" height="160" /></div>
									</div>
									<div class="col-10">
										In this position there is a strong twist on the spine and abdomen. The right arm
										is pressed against
										the left knee
										and the left arm is wrapped behind the back, leading to an increased twist on
										the body. The chest is
										open and the
										spine is erect. One side of the abdomen is compressed and the other side is
										stretched. The right leg
										and knee
										remains on the floor. The left knee should be close to the right
										armpit.Increases the elasticity of
										the spine, tones the spinal nerves and improves the functioning of the spinal
										cord.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

			<!-- Footer start -->

			<!-- Footer end -->

			<script src="{{url_for('static', filename='javascript/dashboard_script.js')}}"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
				crossorigin="anonymous"></script>

</body>

</html>